<nav>
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
    <a routerLink="/json-formatter" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      JSON Formatter
    </a>
    <a routerLink="/json-compare" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      JSON Compare
    </a>
    <a routerLink="/json-domview" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      JSON DOM View
    </a>
    <a routerLink="/excel-to-json" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Excel to JSON
    </a>
    <a routerLink="/json-merger" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      JSON Merger
    </a>
     <a routerLink="/jwt-decoder" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      JWT Decoder
    </a>
    <a routerLink="/json-to-csharp" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      JSON → C# Model
    </a>
    <a routerLink="/guid-generator" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
  GUID Generator
</a>
  </div>
  <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="about-btn">
    ℹ️
  </a>
</nav>

<div class="container"> <router-outlet></router-outlet> </div>